name: Greetings

on: [pull_request, issues]

jobs:
  greeting:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/first-interaction@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        issue-message: 'Thanks for posting your first issue,'' first issue''!'
        pr-message: 'Thanks for sumbmitting your first PR,'' first pr''!'
